extend ../../layout/dashboard.pug
block main
    .container.mt-4
        // Tiêu đề và bộ lọc
        .d-flex.justify-content-between.mb-3
            h2 Danh sách sản phẩm
            .d-flex
                button.btn.btn-outline-primary.me-2(data-set = "") Tất cả
                button.btn.btn-success.me-2(data-set = "active") Hoạt động
                button.btn.btn-danger(data-set="inactive") Dừng hoạt động

        // Thanh tìm kiếm
        .mb-3
            form(action="#", method="get" id='search-product')
                .input-group
                    input.form-control(type="text", placeholder="Tìm kiếm sản phẩm", name="search" value = keySearch ? keySearch : "")
                    button.btn.btn-primary(type="submit") Tìm


        // Bảng danh sách sản phẩm
        table.table.table-striped
            thead
                tr
                    th STT
                    th Hình ảnh
                    th Tiêu đề
                    th Giá
                    th Trạng thái
                    th Hành động
            tbody
                each item,key in products 
                    tr
                        td #{item.stt}
                        td
                            img(src="https://cdn-images.vtv.vn/2019/10/10/photo-1-15706463929181755249740.jpg", alt=item.title, width="50", height="50")
                        td #{item.title}
                        td #{item.price}
                        td
                            span.badge(class=item.status === "active" ? "bg-success" : "bg-danger")  #{item.status === "active" ? "Hoạt động" : "Dừng hoạt động"}
                        td
                            button.btn.btn-warning.btn-sm Sửa
                            button.btn.btn-danger.btn-sm Xóa
        nav
            if(ObjProdcuts.quantityItem !== 0)
                ul(class="pagination")
                    if(ObjProdcuts.currentPage > 1)
                        li(class="page-item" data-set = ObjProdcuts.currentPage - 1)
                            button(class="page-link") Trang trước
                    - for(var i = 1; i <= ObjProdcuts.totalPage;i++)

                        li(class=`page-item ${ObjProdcuts.currentPage == i ? "active" : ""}`, data-set = i)
                            button(class="page-link") #{i}
                    if(ObjProdcuts.currentPage < ObjProdcuts.totalPage )
                        li(class="page-item" data-set = ObjProdcuts.currentPage + 1)
                            button(class="page-link") Kế tiếp
                    
            else
                .card.text-center
                    .card-body
                        i(class="fas fa-info-circle fa-3x text-muted mb-3")
                        h5(class="card-title") Không có sản phẩm nào cả
                        p(class="card-text") Chúng tôi không thể tìm thấy sản phẩm nào phù hợp với tìm kiếm của bạn. Hãy thử tìm kiếm lại.
                        a.btn.btn-primary(href="/admin/products") Quay lại trang chủ
block script 
    script(src="/admin/js/script.js") 

    