extends ../../layout/dashboard.pug
include ../../mixins/toast.pug
block main
  +Toast(messages)
  .container.mt-5
    h1 Quản trị người dùng
    
    //- Nút Thêm mới
    a.btn.btn-primary(href=`./users/create`) Thêm mới

    //- Bảng danh sách người dùng
    table.table.table-striped.mt-4
      thead
        tr
          th STT
          th Tên
          th Email
          th Quyền
          th Trạng thái
          th Thao tác
      tbody
        each account,index in accounts
          tr
            td #{index}
            td #{account.fullName}
            td #{account.email}
            td #{account.role_id ? account.role_id.title : 'Người dùng' }
            td #{account.status == 'active' ? 'hoạt động' : 'dừng'}
            td
              a.btn.btn-warning(href=`./users/edit/${account._id}`) Chỉnh sửa
              a.btn.btn-danger.ml-2(href=`./users/delete/${account._id}`) Xóa
